.feed {
   flex: 0.7;
   border-right: 1px solid var(--twitter-background);
   overflow-y: scroll;
}
.mainfeed {
   min-height: 1500px;
}

/* Hiding scrollbar */
.feed {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.feed::-webkit-scrollbar {
   display: none;
}

/* Header */
.feed__header {
   position: sticky;
   top: 0;
   background-color: white;
   z-index: 100;
   border: 1px solid var(--twitter-background);
   padding: 1px 20px;
}

.feed__header > h2 {
   font-size: 20px;
   font-weight: 800;
}
